.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* App.css */
.App-header {
  height: 150px;             /* Set the height of the header */
  display: flex;             /* Use flexbox for centering content */
  justify-content: center;   /* Center content horizontally */
  align-items: center;       /* Center content vertically */
  background-color: #282c34; /* Optional: background color */
  color: white;              /* Optional: text color */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
